.cell {
	width: 25px;
	height: 25px;
	position: relative;
	border: 1px solid gray;
	margin-right: -1px;
	margin-bottom: -1px;
	transition: margin .5s ease-in;
}

.cell:hover {
	box-shadow: 0px 0px 3px 2px black;
	z-index: 2;
}

.noHover {
	pointer-events: none;
}

/* normal cell */
.type1 {
	background-color: white;
}

/*blocked cell */
.type2 {
	background-color: #363636;
	animation-duration: .1s;
	animation-name: shrink;
}

/* start cell */
.type3 {
	background-color: green;
}

/* end cell */
.type4 {
	background-color: red;
}

/* explored cell */
.type5 {
	animation-name: explored;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

/* path */
.type6 {
	background-color: yellow;
}

/* deep water */
.type7 {
	background-color: #011156;
}

/* water */
.type8 {
	background-color: #057cfa;
}

/* sand */
.type9 {
	background-color: #C2B280;
}

/* forest */
.type10 {
	background-color: #004c1c;
}

/* grassland */
.type11 {
	background-color: #5be087;
}

/* rock */
.type12 {
	background-color: #9ea196;
}

/* snow */
.type13 {
	background-color: #e5e5e3;	
}

.right-border {
	/*
	animation-name: driftRight;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	*/
	margin-right: 5px;
}

.bottom-border {
	/*
	animation-name: driftBottom;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	*/
	margin-bottom: 5px;
}

.grid {
	display: inline-grid;
	grid-template-columns: repeat(60, 1fr);
	background-color: gray;
}

@keyframes driftBottom {
	to {
		margin-bottom: 5px;
  	}
}

@keyframes driftRight {
	to {
		margin-right: 5px;
	}
}

@keyframes grow {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes shrink {
	from {
		transform: scale(1.4);
	}
	to {
		transform: scale(1);
	}
}

@keyframes explored {
	from {
		background-color: #3f21a4;
	}
	to {
		/*background-color: #71deec;*/
		background-color: #a591e9;
	}
}

