.cell {
	width: 30px;
	height: 30px;
	border: transparent;
	display: block;
	position: relative;
	border: transparent;
}

.cell:hover {
	box-shadow: 0px 0px 3px 2px black;
	z-index: 2;
}

.noHover {
	pointer-events: none;
}

/* normal cell */
.type1 {
	background-color: white;
}

/*blocked cell */
.type2 {
	background-color: #363636;
	animation-duration: .1s;
	animation-name: shrink;
}

/* start cell */
.type3 {
	background-color: green;
}

/* end cell */
.type4 {
	background-color: red;
}

/* explored cell */
.type5 {
	animation-name: explored;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

/* path */
.type6 {
	background-color: yellow;
}

.gridGraph {
	border-collapse: collapse;
	border: 3px solid black;
	margin: 0 auto;
}

.gridGraphCell {
	border: solid black;
	border-width: .5px;
	padding: 0px;
}

.gridGraphCell:has(.type2) {
	border-color: #363636;
}

@keyframes grow {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes shrink {
	from {
		transform: scale(1.4);
	}
	to {
		transform: scale(1);
	}
}

@keyframes explored {
	from {
		transform: scale(0);
		background-color: #f9ff50;
	}
	to {
		transform: scale(1);
		background-color: #71deec;
	}
}
