ul {
	background-color: #2a365e;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}

ul > li {
	display: inline-block;
}

/* 
 * Customizes all buttons, hyperlinks, and dropdown menu headers
 * in the navbar
 */
ul > li > button, a, .dropdown-header {
	background-color: transparent;
	border: transparent;
	color: white;
	font-size: 24px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

ul > li > button:hover, a:hover, .dropdown-header:hover {
	cursor: pointer;
	color: gray;
}

.navbar {
	margin-bottom: 40px;
}
