ul {
	background-color: #2a365e;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}

ul > li {
	display: inline-block;
}

ul > li > button {
	background-color: transparent;
	border: transparent;
	color: white;
	font-size: 36px;
}

ul > li > button:hover {
	cursor: pointer;
	color: gray;
}

div {
	margin-bottom: 75px;
}

ul > li > button:active {
}
