.appBody {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

.gridContainer {
	flex-grow: 1;
	overflow: hidden;
	background-color: blue;
}

.header > p, h1, h2, h3 {
	margin: 0 auto;
	text-align: center;
}

.results {
	position: absolute;
	display: inline-block;
	bottom: 0;
	z-index: 2;
	pointer-events: none;
	margin: 5px;
	background-color: rgba(255, 255, 255, .2);
}

.results > p {
	margin: 0 auto;
	color: black;
	font-size: 12px;
	font-weight: bold;
}

.settings {
	width: 30px;
	height: 30px;
	background: url('./settings_white_24dp.svg') no-repeat;
	background-size: 33px 33px;
	margin-right: 20px;
	transition: transform .5s ease-in-out;
}

.settings:hover {
	transform: rotate(30deg);
}


