.appBody {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

.gridContainer {
	flex-grow: 1;
	overflow: hidden;
	background-color: blue;
}

.header > p, h1, h2, h3 {
	margin: 0 auto;
	text-align: center;
}


